* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #5D907E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-group label {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.95rem;
}

.input-group input:focus {
    border-color: #6da98f;
}

.show-password {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 1.2rem;
    color: #666;
}

.login-btn {
    background-color: #6da98f;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: none;
    text-align: center;
}

.google-btn {
    background-color: #f1f3f4;
    color: #333;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.google-btn i{
    

}

.divider {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.divider span {
    flex-grow: 1;
    text-align: center;
    color: #666;
    margin: 0 10px;
}

.register-text {
    margin-top: 1rem;
    color: #666;
    font-size: 0.9rem;
}

.register-text a {
    color: #6da98f;
    text-decoration: none;
}

