*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #E9EFEC ;
     background-size: cover;
     height: 100vh;
     
 }
.logo img {
    height: 110px; /* Atur tinggi logo sesuai kebutuhan */
    width: 110px;
    margin-left: 50px; /* Tambahkan jarak antara logo dan menu */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}

.nav-links {
    flex: 1; /* Membuat kontainer nav-links mengisi ruang yang tersedia */
    display: flex; /* Menggunakan flex untuk menu */
    justify-content: center; /* Memusatkan menu di dalam kontainer */
}

.tulisan-navbar {
    font-family: Arial, Helvetica, sans-serif ;
    color: #6A9C89;
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.tulisan-navbar li a {
    position: relative; /* Dibutuhkan untuk menempatkan garis bawah animasi */
    text-decoration: none;
    color: #6A9C89;
    font-size: 20px;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.tulisan-navbar li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4CAF50; /* Warna underline */
    transition: width 0.3s ease; /* Smooth underline expansion */

}
.nav-links li a:hover {
    color: #666; /* Gray hover effect */    
}

.tulisan-navbar li a:hover::after {
    width: 100%;
}

.login-button {
    background-color: #6A9C89; /* Green button */
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin-right: 90px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    right: 30px;
    cursor: pointer;
}


.login-button:hover {
    background-color: black; /* Darker green on hover */
}


ul li a{
    display: flex;
    color: black;
    text-decoration: none;
    padding-top: 5px;
}

.wrapper{ 
justify-content: center;   
height: 800px ;
width: 800px ;
background-color:white ;
border: 4px;    
text-align: center;
padding-top: 30px;
color: #6A9C89;

}
.wrapper h1{
    padding-bottom: 60px;

}
.input-box input[type=text]{
    text-align: center;
    margin-left: 2%;
    box-sizing: border-box;
    width: 300px; ;
    height: 30px;
}


.button1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}
.button2{
    width: 100px;
    height: 30px;
    background-color: #6A9C89;
    color: aliceblue;
    border-radius: 20px;
}

.coba{
    padding-top: 5%;
    padding-bottom: 30%;
    display: flex;
    justify-content: center;
    background-color: #E9EFEC;
}

.input-box{
    display: flex;
    justify-content: space-between ;
    margin-right: 20%;
    padding-bottom: 10px;
}
.input-box p{
    margin-left:25% ;

}

.remember-forgot{
    padding-top: 20px ;
    display: flex;
    margin-left: 43%
}